header{
    background-image: url('../img/pattern.png');
    background-size: 150px;
    background-color: rgb(4, 129, 212);
    padding-top: 50px;
    padding-bottom: 20px;
}
#Booleaner{
    width: 200px;
    margin: 0;
}
body{
    margin: 0;
}

.dimension{
    width: 50%;
    margin: auto;
}
span{
    color: rgb(7, 136, 241);
}
.margin{margin: 0;
color: grey}
h1{
    margin: 0;
}
#tim1{
    width: 800px;
}
#tim2{
    width: 600px;
}
.photo{
    margin: 0;
}
#title{
    background-color: rgb(6, 136, 243);
    color: white;

}
th{
    width: 10%;
}
.table-body{
    background-color: rgb(11, 161, 248);
}
ul{
    padding-left: 18px;
}
#img1{
    background-image: url('../img/monitor.jpg');
    width: 300px;
    height: 208px;
    color: white;
}
#img2{
    background-image: url('../img/graph.jpg');
    width: 300px;
    height: 200px;
    color: white;
}
.background{
    background-color: yellow;
    color: black;
}

